body {
    background-color: #ff1414;
}

.container1 {
    height: 8rem;
    text-align: center;

}

.text1 {
    color: #090505;
    font-size: 10ex;
    text-align: center;

}

.container {
    text-align: center;

}

.yazıtura {
        text-align: center;

}
.img12{
    text-align: center;
}
.result{
    height: auto;
    text-align: center;

}
